<div>
    <div>
        <img src="/images/pilani-campus.jpg">
    </div>
    <div>
        <img src="/images/goa-campus.jpg">
    </div>
    <div>
        <img src="/images/hyd-campus.jpg">
    </div>
</div>